/* ESTILIZAÇÃO GERAL (TODAS AS PÁGINAS) ------------------------------ */

/*
@tailwind base;
@tailwind components;
@tailwind utilities;
*/

* {
	background-color: #fff;
	font-family: 'Roboto', sans-serif;
	margin: 0;
  	padding: 0;
  	box-sizing: border-box;
}